./planet-link/node_modules
./social-media-api/node_modules
.env
certs/*.crt
certs/*.key
EOF

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
